.list-of-cuisines{
    display: flex;
    flex-flow: column wrap;
    max-height: 80vh;
    width: 80%;
    margin: 1rem auto;
}

.cuisine:hover{
    opacity: 0.9;
    color: #da3743;
}

.cuisine-name:hover{
    cursor: pointer;
}

.cuisine{
    display: inline-flex;
    justify-content: center;
    background: #ffcccc; 
    border: 1px solid #da3743;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.2rem;
}

.cuisine-title{
    color: #da3743;
    margin: 0px;
}
