:root {
  --star-size: 30px;
  --star-color: rgb(225, 225, 225);
  --star-background: #da3743;
  --dollar-size: 1rem;
  --dollar-color: #0000;
  --dollar-background: rgb(225, 225, 225);
}

header.restaurant-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(
      90deg,
      rgba(47, 45, 65, 0.7),
      rgba(47, 45, 65, 0.7)
    ),
    url("https://cdn.otstatic.com/cfe/5/images/25161502-fbb7de.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  height: 30rem;
  opacity: 1;
  margin-bottom: 4rem;
}

.header {
  color: white;
  font-size: 48px;
  text-align: center;
}

.mainContent {
  display: block;
}

section.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

section.cards div {
  margin: 1rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  color: #91949a;
  border: none;
  height: 3rem;
  width: 15%;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  margin: 0 1rem;
  padding: 0;
}

.submit-btn {
  border-style: none;
  background-color: #da3743;
  color: #fff;
  height: 3rem;
  width: 5%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.card-img {
  max-width: 350px;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.stars::before {
  content: "★★★★★";
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dollars {
  --percent: calc(var(--price) / 4 * 100%);
  font-size: var(--dollar-size);
  margin-left: 0.5rem;
}

.dollars::before {
  content: "$$$$";
  -webkit-text-fill-color: var(--dollar-background);
}

.name {
  font-weight: bold;
}

.reviews {
  font-size: 1rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}
